{% extends "base.html" %}

{%block initial%}
    <h1>Log in</h1>
    <a href="{% url 'index' %}">New Questions</a>
{%endblock%}

{%block content%}
  <form class="w-100" id="questionForm">

    <div class="form-group row  mt-5">
        <label for="log" class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-val" id="title" maxlength="10" placeholder="Введите логин" required>
            <div class="invalid-feedback">Пожалуйста, введите логин!</div>
        </div>
    </div>

    <div class="form-group row  mt-3">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control input-val" id="password" maxlength="10"  placeholder="Введите пароль" >
            <div class="invalid-feedback">Пожалуйста, введите пароль!</div>
        </div>
    </div>

    <div  class="form-group" >
        <button class="btn btn-success col-sm-2  mt-5 mb-4" type="submit">Log in!</button>
        <div>
            <a href="{% url 'register' %}">create new account</a>
        </div>
   </div>
   
  </form>                

  <div id="errorMessages" class="mt-3 text-danger"></div>

{%endblock%}
