<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>книжный клуб</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/base.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <a class="navbar-brand ms-3" href="#"> &#128366; книжный клуб</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <form class="d-flex col-md-6" role="search">
                    <input class="form-control me-2 input" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">ask!</button>
                </form>

                <div class="d-flex gap-1" id="user_inf">
                    <img src="asda.jpg" alt="Avatar" class="img-thumbnail">
                    <div>
                        <div class="ms-2 me-2">
                            Ф. М. Достоевский
                        </div>
                        <a class="ms-2 me-2" href="#">settings</a>
                        <a class="ms-2 me-2" href="#">log out</a>
                    </div>
                </div>

            </div>
        </div>
    </nav>

    <main class="container mt-3">
        <div class="row">
            <div class="col-9">
                <div class="d-flex flex-column gap-3">
                    <div class="question card w-100 " style="width: 18rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <div class="border mb-2" style="height: 100px">
                                        <img src="jpg.jpg" alt="Avatar" class="img-fluid">
                                    </div>
                                    <input class="form-control" type="number" value="5" placeholder="Default input"
                                        aria-label="default input example">

                                </div>
                                <div class="col-9">

                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's content.</p>

                                    <div class="d-flex gap-5">
                                        <div>

                                            Tags:

                                            <a href="#" class="card-link">Another link</a>
                                            <a href="#" class="card-link">Another link</a>
                                            <a href="#" class="card-link">Another link</a>
                                            <a href="#" class="card-link">Another link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="answer card w-100 " style="width: 18rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <div class="border mb-2" style="height: 100px">
                                        <img src="jpg.jpg" alt="Avatar" class="img-fluid">
                                    </div>
                                    <input class="form-control" type="number" value="5" placeholder="Default input"
                                        aria-label="default input example">

                                </div>
                                <div class="col-9">

                                    <p class="card-text">Some quick example text to build on the card title and make 
                                        up the bulk of the card's content. Some quick example text to build on the card title and make up
                                        the bulk of the card's content. Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                              Correct!
                                            </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answer card w-100 " style="width: 18rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <div class="border mb-2" style="height: 100px">
                                        <img src="jpg.jpg" alt="Avatar" class="img-fluid">
                                    </div>
                                    <input class="form-control" type="number" value="5" placeholder="Default input"
                                        aria-label="default input example">

                                </div>
                                <div class="col-9">

                                    <p class="card-text">Some quick example text to build on the card title and make 
                                        up the bulk of the card's content. Some quick example text to build on the card title and make up
                                        the bulk of the card's content. Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                              Correct!
                                            </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <nav aria-label="Page navigation example" class="mt-3">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="textarea">
                    <textarea class="form-control" id="questionText" rows="4" maxlength="1000" placeholder="Введите ваш ответ..." required></textarea>
                    <div class="invalid-feedback">Пожалуйста, введите текст ответа!</div>
                </div>
                
                <button class="btn btn-success col-sm-2  mt-3 mb-3" type="submit">Answer!</button>

            </div>
            <div class="col">
                <section class="mb-3">
                    <h2>Popular Tags</h2>
                    <div>
                        <a href="#" class="badge text-bg-success mt-2">аааааа</a>
                        <a href="#" class="badge text-bg-success mt-2">ббббббб</a>
                        <a href="#" class="badge text-bg-success mt-2">вввввв</a>
                        <a href="#" class="badge text-bg-success mt-2">ггггг</a>
                        <a href="#" class="badge text-bg-success mt-2">ддддд</a>
                        <a href="#" class="badge text-bg-success mt-2">ееееееее</a>
                        <a href="#" class="badge text-bg-success mt-2">жжжжжжж</a>
                        <a href="#" class="badge text-bg-success mt-2">ззззззз</a>
                    </div>
                </section>

                <section>
                    <h2>Best Members</h2>
                    <div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="#">Member</a></li>
                            <li class="list-group-item"><a href="#">Member</a></li>
                            <li class="list-group-item"><a href="#">Member</a></li>
                            <li class="list-group-item"><a href="#">Member</a></li>
                            <li class="list-group-item"><a href="#">Member</a></li>
                        </ul>
                    </div>
                </section>

            </div>

        </div>


    </main>

    <footer class="bg-dark text-white text-center py-1">
        <p>тут могла бы быть ваша реклама</p>
    </footer>

    <script src="../static/js/bootstrap.min.js">

    </script>
</body>

</html>